!!! Strict
%html{:lang =>"en"}
  %head
    %title WhichShiftButton.com | For Science
    %meta{:name => 'description', :content => 'An experiment for science about which shift button people use.'}
    = stylesheet_link_tag :all
    = javascript_include_tag :all
  %body
    #container
      = yield